/*  NORMALIZE START  */
body {
  margin: 0; }

article,
aside,
footer,
header,
nav,
section {
  display: block; }

figcaption,
figure,
main {
  display: block; }

figure {
  margin: 1em 40px; }

audio,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details,
menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

/*  NORMALIZE END  */
.header {
  min-height: 10vh;
  background-color: #403c3b;
  display: flex;
  align-items: center;
  justify-content: center; }
  .header__heading {
    text-align: center;
    margin: 0;
    padding: 0;
    color: #e5d7d5; }

.main {
  position: relative;
  min-height: 90vh;
  background-color: #403c3b; }

.test-pattern {
  width: 100%;
  height: 100%;
  position: absolute; }

.tool-container {
  width: 400px;
  min-height: 300px;
  box-sizing: border-box;
  border-radius: 2px;
  border: 2px solid #403c3b;
  background-color: #e5d7d5;
  box-shadow: 0px 0px 30px #403c3b;
  position: absolute;
  top: calc(45vh - 150px);
  left: calc(50vw - 200px);
  color: #403c3b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: space-between;
  flex-direction: column;
  padding: 5px 15px; }
  .tool-container__heading {
    font-size: 16px;
    text-align: center; }

.changes-container {
  display: flex;
  align-items: center;
  justify-content: center; }

.svg-container {
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end; }

.change-color-container, .change-size-container, .tiles-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column; }

.changes_left, .change-color-container {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  height: 100%; }

.changes-paragraph {
  margin: 0;
  padding: 0; }

.color-container {
  width: 100%; }

.save-container {
  display: flex;
  justify-content: center;
  align-items: center; }

.input-changes {
  box-sizing: border-box;
  border: 1px solid #403c3b;
  background-color: transparent;
  padding: 2px;
  width: 100%; }

.input_select {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none; }

/*# sourceMappingURL=style.css.map */
