@import 'normalize';

$color-m1: rgb(64,60,59);
$color-m2: rgb(127,119,118);
$color-m3: rgb(191,179,178);
$color-m4: rgb(229,215,213);
$color-m5: rgb(225,238,237);

.header{
    min-height: 10vh;
    background-color: $color-m1;
    display: flex;
    align-items: center;
    justify-content: center;
    &__heading{
        text-align: center;
        margin: 0;
        padding: 0;
        color: $color-m4;
    }
}
.main{
    position: relative;
    min-height: 90vh;
    background-color: $color-m1;
}
.test-pattern{
    width: 100%;
    height: 100%;
    position: absolute;
}
.tool-container{
    width: 400px;
    min-height: 300px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 2px solid $color-m1;
    background-color: $color-m4;
    box-shadow: 0px 0px 30px $color-m1;
    position: absolute;
    top: calc(45vh - 150px);
    left: calc(50vw - 200px);
    color: $color-m1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
    flex-direction: column;
    padding: 5px 15px;
    &__heading{
        font-size: 16px;
        text-align: center;
    }
}
.changes-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.svg-container{
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.change-color-container, .change-size-container, .tiles-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.changes_left, .change-color-container {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
}
.changes-paragraph{
    margin: 0;
    padding: 0;
}
.color-container{
    width: 100%;
}
.save-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-changes{
    box-sizing: border-box;
    border: 1px solid $color-m1;
    background-color: transparent;
    padding: 2px;
    width: 100%;
}
.input_select{
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
}
